<h1>Single Room</h1>

<br><br>

    {{!-- <p>Room Name: {{singleRoom.name}}</p>
    <p>Room Location: {{singleRoom.location}}</p>
    <p>Room Price: {{singleRoom.price}}</p>
    <p>Number of Beds: {{singleRoom.bedz}}</p>
    <p>Number of Bathrooms: {{singleRoom.bathrooms}}</p>
    <p>Number of Floors: {{singleRoom.floors}}</p>

<br><br><br> --}}

<div style="overflow-x: auto;">
<table border="1px solid black">

    <tr>
        <td colspan="2"><img src="/img/{{singleRoom.roomPic}}" alt=""></td>
    </tr>
    <tr>
        <td>Room Name</td>
        <td>{{singleRoom.name}}</td>
    </tr>

    <tr>
        <td>Room Location</td>
        <td>{{singleRoom.location}}</td>
    </tr>

    <tr>
        <td>Room Price</td>
        <td>{{singleRoom.price}}</td>
    </tr>

    <tr>
        <td>Number of Beds</td>
        <td>{{singleRoom.bedz}}</td>
    </tr>

    
    <tr>
        <td>Number of Bathrooms</td>
        <td>{{singleRoom.bathrooms}}</td>
    </tr>

    <tr>
        <td>Number of floors</td>
        <td>{{singleRoom.floors}}</td>
    </tr>

</table>
</div>

<br><br><br>

<a href="/newRoom">Add another room</a>
