{{#each err}}
        {{this}}
{{/each}}


   {{#unless user}}

    <h3 id="bruh">Please sign up or login to book rooms!</h3>

    {{/unless}}




{{!-- {{#if user}}
    <a href="newRoom" id="room-link"><button id="newRm">Add a New Room</button></a>
{{/if}} --}}

<div class="box">

      {{!-- Value:{{user}} --}}



      {{#if user}}

    {{#each roomInfo}}
{{!-- {{#if user}} --}}
    <div class="imgz">

            <!-- ITEMS [EACH ITEM WILL HAVE A SEPERATE DIV] -->
            <!-- Item 1 -->
            <div class="item-1 htl">
                {{!-- Making the img a link so we get extra detail when we click on it --}}
                <a href="/room/info/{{this._id}}"><img src="/img/{{this.roomPic}}" alt=""></a>

                <div class="txt1">
                    <a href="/room/info/{{this._id}}"><button id="infoz">Show info</button></a>
                <form action="/user/save/{{this._id}}" method="POST">
                        <button id="book" type="submit">Book Room</button>
                </form>
                </div>
            </div>
        </div>
{{!-- {{/if}} --}}
 {{/each}}

 {{else}}

    
    {{#each roomInfo}}
{{!-- {{#if user}} --}}
    <div class="imgz">
            <div class="item-1 htl">
                <a href="/room/info/{{this._id}}"><img src="/img/{{this.roomPic}}" alt=""></a>
                <div class="txt1">
                    <a href="/room/info/{{this._id}}"><button id="infoz">Show info</button></a>
                </div>
            </div>
        </div>
{{!-- {{/if}} --}}
 {{/each}}

    

      {{/if}}
 



<script src="js/confirm.js"></script>
