<div class="contact">

    <div class="about-airbnb">
        <h1>Tour the world and connect with people globally.</h1>
        <div class="about-us">
            <p><i class="fas fa-images"></i><span id="bold">See photos and updates</span> from friends in news feed.</p>
            <p><i class="fas fa-thumbs-up"></i><span id="bold">Like photos and videos of people</span> from around the world.</p>
            <p><i class="fas fa-network-wired"></i><span id="bold">Make connections with people</span> and network the environment.</p>
        </div>
    </div>

    <form method="POST" action="/user/regis">

        <h2 class="head2">Sign Up.</h2>
        <br><br>
        <h4>It's fast and breezy. Just like our service.</h4>

        <div class="grid-time">
<div class="field">
  <input type="text" placeholder="First Name" name="firstName" id="fname" value="{{fname}}">
    <span class="f-err">{{err.firstName}}</span>
</div>

<div class="field">
  <input type="text" placeholder="Last Name" name="lastName" id="lname" value="{{lname}}">
    <span class="l-err">{{err.lastName}}</span>
</div>

<div class="field">
  <input type="text" placeholder="Username" name="usr" id="userName" value="{{name}}">
    <span class="usr-err">{{err.usr}}</span>
</div>

<div class="field">
  <input type="password" placeholder="New password" name="pass" id="pass" value="{{pass}}">
    <span class="pass-err">{{err.pass}}</span>
</div>

<div class="field">
  <input type="password" placeholder="Confirm Password" name="cpass" id="cpass">
    <span class="cpass-err">{{err.cpass}}</span>
</div>

<div class="field">
  <input type="text" placeholder="Home Address" name="adrs" id="adrs" value="{{adrs}}">
    <span class="adrs-err">{{err.adrs}}</span>
</div>

<div class="field">
  <input type="text" placeholder="Email" name="eml" id="mail" value="{{eml}}">
    <span class="email-err">{{err.eml}}</span>
</div>

            <!-- Submit -->
            <p class="grid-area">
                <button id="sign" type="submit">Sign Up!</button>
            </p>

        </div>
    </form>
</div>

<script src="/js/register.js"></script>
